{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "serviceworker": true,
    "jquery": true
  },
  "globals": {
    "Routes": true,
    "I18n": true,
    "Generator": true,
    "IntersectionObserver": true,
    "indent": ["error", 4, { "SwitchCase": 1 }],

    // Flow
    "Class": true,
    "SyntheticEvent": true,
    "TimeoutID": true,
    "IntervalID": true,

    // custom
    "popup": true
  },
  "rules": {
    "no-buffer-constructor": 0,
    "switch-colon-spacing": 0,
    "new-cap": 0
  }
}
